{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block main %}
    <table class="table_wrap searchable sortable">
        <thead class="table_header"></thead>
            <tr class = "header_row">
                <th>Date</th>
                <th>Clues</th>
                <th>Answers</th>
                <th>Day</th>
            </tr>
        </thead>
        <tbody class="table_body"></tbody>
                {% for row in rows %}
                    <tr class="body_row">
                        <td> {{ row[1] }}  </td>
                        <td> {{ row[2] }}  </td>
                        <td> {{ row[3] }}  </td>
                        <td> {{ row[4] }}  </td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
{% endblock %}

